* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: small;
  --primaryColor: rgb(175, 235, 255);
  --linksColor: rgb(162, 0, 255);
}

body {
  background-color: var(--primaryColor);
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 5rem;
}

#totalExpense {
  font-size: x-large;
}

#btn {
  margin: 10px;
  border: none;
  border-radius: 5px;
  background-color: black;
  color: white;
  font-weight: 700;
  padding: 10px;
}

.input label {
  font-size: small;
  font-weight: 700;
}

.input {
  margin: 20px 0px;
}

#expenseCard {
  min-width: 70%;
  display: flex;
  justify-content: space-around;
  background-color: rgb(0, 0, 0);
  border-radius: 5px;
  padding: 5px;
  margin: 20px;
}

#expenseItem {
  color: white;
  text-transform: capitalize;
}

#deleteIcon {
  width: 25px;
  height: 25px;
}

footer {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

#heartIcon {
  width: 20px;
  height: 20px;
}

#iconAttribution {
  color: var(--linksColor);
  margin: 5px 0px;
}

#socialFooter {
  display: flex;
  justify-content: center;
}

.icons {
  width: 30px;
  height: 30px;
  margin: 0px 1px;
  border-radius: 5px;
}

.icons:hover {
  box-shadow: 1px 1px 1px 1px rgb(104, 104, 104);
}

@media (min-width: 400px) {
  * {
    font-size: medium;
  }
  .icons {
    margin: 0px 5px;
  }
}
