* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}
div {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#head {
  background-color: black;
  color: white;
  margin: 1em;
  padding: 10px;
  border-radius: 10px;
}
#btn {
  background-color: black;
  color: white;
  text-transform: uppercase;
  text-align: center;
  border: none;
  border-radius: 10px;
  padding: 10px;
  font-weight: 500;
}
